/* Grid Layout for Menu Cards */
.Menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
  gap: 16px;
  max-width: 1200px;
  margin: 5rem auto;
  padding: 20px;
  justify-content: center; /* Center incomplete rows */
}



.Menu-card {
  /* background: #f8f9fa; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  text-align: center; /* Center-align text within the card */
}

.Menu-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu-image {
  height: 185px;
  overflow: hidden;
}

.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.menu-details {
  padding: 12px;
}

.menu-name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #444;
  margin-top: 8px;
}
/* .bg-img{
  background-image: url('../../Assets/FooterLogo.jpeg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    opacity:0.1;
} */
.menu-price {
  color: #db1c1c;
  font-size: 3rem;
  margin-top: 4px;
}

/* Modal Styling */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.modal-box h2 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-box ul {
  padding-left: 20px;
}

.modal-box ul li {
  list-style-type: disc;
  color: #555;
}

.modal-box button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modal-box button:hover {
  background-color: #0056b3;
}



/* Responsive adjustments */
@media (max-width: 900px) {
  .Menu-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .Menu-grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .menu-image{
    height:230px;
  }
  .modal-box {
    width: 90%; /* Make the modal smaller on mobile screens */
  }
}
